# Węzeł moduły
node_modules/

# Pliki logów
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki środowiskowe
.env
.env.local
.env.*.local

# Katalogi i pliki tymczasowe
.DS_Store
Thumbs.db

# Katalogi zbudowane przez narzędzia
dist/
build/
out/

# Pliki konfiguracyjne IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Inne pliki, które mogą być generowane
coverage/
*.tgz